.div-skills{
    /* background-color: lightyellow; */
    font-family: 'Josefin Sans', sans-serif;
}

.parallax {
    background: linear-gradient( rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../../Images/b4.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    display: flex;
}

.div-covers{
    height: 20vh;
    background-color: rgb(37, 37, 35);
}
.skill {
    margin-bottom: 30px;
}

.skills-content{
    display: flex;
}

.title {
text-align: left;
padding-bottom: 30px;
}

.Skills-tech h5 {
    color: #eee;
    font-size: 25px;
    font-weight: 400;
    font-family: inherit;
    margin-bottom: 5px;
}

.Skills-tech ul li h6 {
    color: #eee;
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    margin-bottom: 5px;
}
.Skills-tech ul li p {
    color: rgb(175, 175, 175);
}

.skills-progress{
    position: relative;
    width: 100%;
    height: 4px;
    background: rgba(80, 80, 80, 0.3);

}

.skills-progress span {
    position: absolute;
    height: 100%;
    width: 85%;
    background: #C49B66;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.skills-dev h5 {
    color: #eee;
    font-size: 25px;
    font-weight: 400;
    font-family: inherit;
    margin-bottom: 5px;
}

.skills-dev .skill h6 {
    color: #eee;
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    margin-bottom: 5px;
}
.Skills-tech ul li p {
    color: rgb(175, 175, 175);
}

.skill h6 span {
    padding: 4px 8px 0;
    font-size: 10px;
    float: right;
    background: rgba(80, 80, 80, 0.3);
    position: relative;
    top: 8px;
}

.paddingTop{
    width: 100%;
    display: grid;
    align-items: center;
}