.contact{
    background: linear-gradient( rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../../Images/b6.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 6rem;
    padding-bottom: 6rem;

}

@media only screen and (max-width: 767.98px) {
    .contact{
        background-attachment: unset;
    }
}

.full-width {
    width: 100% !important;
}
.section-head {
    text-align: center;
    margin-bottom: 1rem;
}

.title-contacts {

    display: inline-block;
    font-size: 3rem;
    padding-bottom: 10px;
    position: relative;
    color: #ffffff;
}

.contact .form input[type='text'], .contact .form input[type='email'], .contact .form textarea {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    background: rgba(10, 10, 10, 0.6);
    color: #fff;
    margin-bottom: 15px;
}

/* Button */

.buton button, .buton a {
    background-color: #C49B66;
    color: #ffffff;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    width: 130px;
    -webkit-box-shadow: 0px 5px 10px rgb(0 0 0 / 10%);
    box-shadow: 0px 5px 10px rgb(0 0 0 / 10%);
    cursor: pointer;
    border: 0;
}

.buton button:hover, .buton a:hover{
    background-color: #ffffff;
    color: #C49B66;
}

/* ****************************************************************** */

.mar-bottom{
margin-bottom: 1rem;
}

.contact .info .item .cont {
    color: #ffffff;
    padding-left: 15px;
    border-left: 1px solid rgba(200, 200, 200, 0.4);
}

.contact .info .item p {
    color: #bbb;
}

.cont{
    margin-top:2rem;
}

.contact .info .item .icon-contact {
    float: left;
    width: 2.1rem;
}

.item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.iconSizing{
    width: 3rem;
    height: 3rem;
    color: #C49B66;
    padding-right: 1rem;
}