.header-wraper {
    height: 100vh;
    display: flex;
    color: white;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../Images/skills2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.4);
  }

  .main-info{
    width: 100%;
    top:0;
    right:0;
    left:0;
    bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    z-index: 1;
  }

  .main-info h1{
    color: #C49B66;
    text-transform: uppercase;
  }

  /* TYPED TEXT */
  .typed-text{
    font-size: 2rem;
    color: var(--primary-white);
  }

  .btn-main-offer{
    background-color: #C49B66;
    color: #ffffff;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 700;
    line-height: 40px;
    width: 7rem;
    transform-style: preserve-3d;
    position: relative;
    transition: .3s;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 10%);
    cursor: pointer;
    border: none;
    margin-top: 0.7rem;
    text-decoration: none;
  }
  .btn-main-offer:hover{
    background-color: #ffffff;
    color: #C49B66;
    text-decoration: none;
  }