@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.app{
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
}

.sections{
  width: 100%;
  height: 100vh;
  position: relative;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.app::-webkit-scrollbar {
  display: none;
}

div.sections > *{
  width: 100vw;
}

:root{
  --primary-white: #ffffff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
}

body{
  font-family: 'Josefin Sans', sans-serif;
}

a {
color: #0366d6;
}

code {
color: #E01A76;
}

.btn-primary {
color: #fff;
background-color: #1b6ec2;
border-color: #1861ac;
}

/* NAVBAR */

.abcd{
  justify-content:flex-end ;
}

.navbar{
  width: 100%;
  position: fixed !important;
  z-index: 2;
}


.navbar-brand{
  color: var(--primary-white) !important;   
}

.dark-theme{
  background-color: #181818;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}


.navbar-nav > li > a {
  margin-right: 0.70rem;
  margin-left: 0.70rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a:active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid #C49B66;
  color: #C49B66 !important;
}

.navbar-nav > li > a:active, .navbar-nav > li > a:hover {
  border-top: 0.1875rem solid #C49B66;
  color: #C49B66 !important;
}



.logo{
  width: 2.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.4rem;
}

/**************************** Navbar Toggler Animation ******************************/

.hamburger-icon{
  color: #C49B66;
  height: 2.5rem !important;
  width: 2.5rem !important;
  margin: 0px !important;
}

/***************************************** HEADER *****************************************/



/* PARTICLE JS */
.tsparticles-canvas-el{
  position: absolute;
}

@media(max-width: 768px){
  .partical-canvas{
    display: none;
  }

  .navbar-nav > li > a {
    border-top: none;
  }
  .navbar-nav > li > a.active, .navbar-nav > li > a:focus {
    border: none;
    color: #C49B66;

  }
  
  .navbar-nav > li > a.active, .navbar-nav > li > a:hover {
    border: none;
    color: #C49B66;
  }

}